body {
  background: linear-gradient(
    to top,
    lightgrey 0%,
    lightgrey 1%,
    #e0e0e0 26%,
    #efefef 48%,
    #d9d9d9 75%,
    #bcbcbc 100%
  );
  width: 50%;
  margin: 60px auto;
}
h1 {
  text-align: center;
  color: #79184d;
}
h2 {
  text-align: center;
  color: white;
  background: black;
  opacity: 0.7;
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
}
img {
  display: block;
  margin: 0 auto;
  max-width: 70%;
  border-radius: 10px;
}
p {
  line-height: 2;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}
button {
  display: block;
  margin: 20px auto;
  padding: 15px 30px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  color: white;
  background: black;
  opacity: 0.7;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  transition: all 150ms ease-in-out;
}
.footer {
  font-family: monospace;
}
.container {
  max-width: 75%;
  margin: 0 auto;
  padding: 15px 60px;
  border: 1px solid gray;
  background: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);
  border-radius: 25px;
  box-shadow: rgba(111, 97, 192, 0.25) 0px 13px 27px -5px,
    rgba(111, 97, 192, 0.3) 0px 8px 16px;
}
.learn-more {
  text-decoration: none;
  font-size: 15px;
  color: #79184d;
  font-weight: bold;
}
.learn-more:hover {
  cursor: pointer;
  text-decoration: underline;
}
.start-now:hover {
  cursor: pointer;
  background: grey;
  color: black;
}
